---
layout: default
---
<div id="status">
	<h2 class="title">{{ page.title }}</h2>
	<span>{{ page.date | date_to_string }}</span>

	{% if page.tags != empty %}
	  <br>
		<span class="tags">
			<span>标签：</span>
			{% for tag in page.tags %}
				<span>{{ tag }}</span>
			{% endfor %}
		</span>
	{% endif %}

	{% if page.categories != empty %}
	  <br>
		<span class="category">
			<span> Category：</span>
			{% for category in page.categories %}
			  <span>{{ category }}</span>
			{% endfor %}
		</span>
	{% endif %}
	
	<br><br>
</div>

<div id="post">
{{ content }}
</div>
<br>
<div id="related">
  <h2>Related Posts</h2>
    <ul class="posts">
	    {% for post in site.related_posts limit:5 %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	    {% endfor %}
	</ul>
</div>
